<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
		<title>food vibes</title>
		<link rel="stylesheet" href="style.css">
    </head>
    <body>
    <script>
        const key = "b9144087445642548997f02c574886f9";
        var rit_store_number = 62;

        async function findlocation(sku, store) {

            let location = await makeGetRequest(`https://api.wegmans.io/products/${sku}/locations/${store}?api-version=2018-10-18&subscription-key=${key}`)
            var stringystring = location;
            console.log(stringystring);
            document.getElementById("food").innerHTML = JSON.stringify(stringystring);
            return stringystring;
        }

        async function makeGetRequest(url) {
            let res = await axios.get(url);
            let data = res.data.locations[0];
            return data;
        }

        findlocation(756505, 1);

    </script>
        <div class="center-div">
            <h1>food vibes</h1>
            <h1>your song</h1>
            <h2 id="song-name">name: <%= songname%></h2>
            <h2 id="song-artist">artist: <%= songartist%></h2>
            <h2 id="song-genre">genre: <%= songgenre%></h2>
            <h1>press for your recommendations</h1>
            <h1 id="food"></h1>
        </div>
        <div class="center-div song-info">

        </div>
        <div class="center-div">

        </div>
    </body>
</html>
