<!DOCTYPE html>
<html>
    <head>
		<title>food vibes</title>
		<link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="center-div">
            <h1>food vibes</h1>
            <h1>your song</h1>
            <h2 id="song-name">name: <%= songname%></h2>
            <h2 id="song-artist">artist: <%= songartist%></h2>
            <h2 id="song-genre">genre: <%= songgenre%></h2>
            <h1>press for your recommendations</h1>
        </div>
        <div class="center-div song-info">

        </div>
        <div class="center-div">

        </div>
    </body>
</html>
