
@font-face{
	font-family: joseItalics;
	src: url('JosefinSans-MediumItalic.ttf');
}
@font-face{
	font-family: joseLight;
	src: url('JosefinSans-Light.ttf');
}
#clip{
	margin-top:20px;
}
input {
	width:100%;
	display:inline-block;
	margin-bottom:10px;
}
#gecs{
	width:10%;
}
.center-div{
	text-align: center;
	line-height: 22px;
	position: relative;
	font-family: 'joseItalics', Fallback, sans-serif;
}
form{
	display:inline-block;
}
#loading{
	opacity:0;
}
.body-wrapper{
	background-color: rgb(0,0,248) !important;
}
.input{
	text-align: center;
	position: relative;
}
.input > form{
	width:250px;
}
