*{text-transform: lowercase; }
body{overflow:hidden;}

@font-face{
	font-family: joseItalics;
	src: url('JosefinSans-MediumItalic.ttf');
}
@font-face{
	font-family: joseLight;
	src: url('JosefinSans-Light.ttf');
}
h2{
	font-family: joseLight;
}
#clip{
	margin-top:20px;
}
input {
	width:100%;
	display:inline-block;
	margin-bottom:10px;
}
#gecs{
	width:10%;
}
.center-div{
	text-align: center;
	line-height: 22px;
	position: relative;
}
@keyframes upDown {
  to { transform: translatey(15%);}
}
@keyframes translate {
  to { transform: translatex(100%);}
}
#logo-cont{
	text-align:left;
	position:relative;
	transform:translate(-15%,-20%);
	animation: translate 16s infinite linear;
}
#logo-cont > img{
	animation: upDown 1.5s alternate infinite ease-in-out;
}
.wrapper {
		-webkit-column-width: 150px; //You can't use 100%
		column-width: 150px;
		height: 100%;
}
.center-div.processed{
	transform: translatey(20%);
}
.center-div > h1{
	font-family: 'joseItalics', Fallback, sans-serif;
}
form{
	display:inline-block;
}
#loading{
	opacity:0;
	pointer-events:none;
}
.body-wrapper{
	background-color: rgb(0,0,248) !important;
}
.input{
	text-align: center;
	position: relative;
}
.input > form{
	width:250px;
}
